body {
	color:#111;
	background: white;
	margin:0;
	/*font-weight: 300;*/
	font: 14px/1.6em Capital, futura-pt,Helvetica,Arial,sans-serif;
	/*font-family: "futura-pt", sans-serif, "Neue Haas Grotesk Display",'Work Sans', 'helvetica neue',sans-serif;*/
	/*'Work Sans', sans-serif, "Neue Haas Grotesk Display", 400*//*'Open Sans', sans-serif*/
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	/*letter-spacing: 1px;*/

}
body {
	background-color: #f9f9f9;
	padding: 20px;

}
a,
a:hover,
a:focus,
a:active{
	color: #157EDC;
	/*text-decoration: none;*/
}
.container-main{
	margin: auto;
}
@media screen and (min-width: 601px) {
	.container-main{
		width: 600px;
	}
}
@media screen and (max-width: 600px) {
	.container-main{
		width: 100%;
	}
}


img{
	border:none;
}
.title{
	font-size: 28px;
	text-align: center;
	padding: 26px 0 40px 0;
	line-height: 140%;
}
.section_link{
	/*display: block;*/
	font-size: 16px;
	line-height: 160%;
	margin: 0 0 24px 0;
}
.section_link span:nth-child(1){
	display: block;
	font-weight: bold;
}
.section_link span:nth-child(2){
	display: block;
	font-weight: light;
	/*color: #444;*/
}
.footer{
	padding-top: 24px;
	border-top: 1px solid #ddd;
}
.baoling_wechat{
	width: 200px;
	margin-top: 12px;
}

