/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {font-family: "Helvetica Neue";
    src: url("helvetica.eot"); /* IE9*/
    src: url("helvetica.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("helvetica.woff2") format("woff2"), /* chrome firefox */
    url("helvetica.woff") format("woff"), /* chrome firefox */
    url("helvetica.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("helvetica.svg#Helvetica Neue") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "HelveticaNeue";
    src: url("helvetica.eot"); /* IE9*/
    src: url("helvetica.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("helvetica.woff2") format("woff2"), /* chrome firefox */
    url("helvetica.woff") format("woff"), /* chrome firefox */
    url("helvetica.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("helvetica.svg#Helvetica Neue") format("svg"); /* iOS 4.1- */
}